<div data-th-fragment="supply">
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-12">

                <div id="table"  >


                    <table class="table table-striped table-dark">
                        <tr>
                            <th>Stany magazynowe</th>

                        </tr>

                        <tr>
                            <td>Indeks</td>
                            <td>ilosc</td>
                            <td>Partia</td>
                            <td>Magazyn</td>
                        </tr>
                        <tr th:each="supply , iterationInfo : ${supply}">
                            <td th:text="${supply.item}"/>
                            <td th:text="${supply.quantity}"/>
                            <td th:text="${supply.externalBatch}"/>
                            <td th:text="${supply.warehouse}"/>
                            <td th:text="${iterationInfo.count + ' of total ' + iterationInfo.size}"/>




                        </tr>

                    </table>


                </div>
            </div>
            <div class="col">

            </div>

        </div>
    </div>
</div>